.header h1 {
  margin: 0;
}

.header {
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  font-family: "Caveat", cursive;
  color: #0e3c7c;
  font-size: 35px;
}
